<h1 style="text-align:center;">- P2EX -</h1>
<p class="login mb40"><%=link_to 'Sign in'%> / <%=link_to 'Sign up'%></p>

<div class="row home mb20">
	<div class="span3"></div>
	<div class="span6 node-block">
		<div class="title pull-left">羽毛球</div>
		<div class="brief pull-left">工头：<%=link_to 'Fistan', nil, :class => "mr10" %>创建于：2012/10/03</div>
	</div>
	<div class="span3"></div>
</div>

<div class="row home">
	<div class="span3"></div>
	<div class="span6 node-block-next">
		What's next ? <%= link_to 'Apply' %>
	</div>
	<div class="span3"></div>
</div>