/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.mt2{
	margin-top: 2px;
}
.mt5{
	margin-top: 5px;
}
.mb2{
	margin-bottom: 2px;
}
.mb5{
	margin-bottom: 5px;
}
.mb10{
	margin-bottom: 10px;
}
.mb20{
	margin-bottom: 20px;
}
.mb40{
	margin-bottom: 40px;
}
.mr10{
	margin-right: 10px;
}
.lighter{
	color: #999;
}
hr{
	margin: 15px 0!important;
}
h2{
	font-size: 20px!important;
	margin: 0px!important;
	line-height: 25px!important;
}
.container{
	padding-top: 20px;
}
.footer{
	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
	color: #cdcdcd;
}
.input-fullsize{
	width: 96%;
}